

	html, body {
		background-color:#000;
	}

	h1 {
		font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
		font-weight: 100; 
		letter-spacing: 1px;	
		color: white;
		font-size: 40px;
	}

#inner {
	line-height: 500px;
    text-align: center;
}

#outer {
}